table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #0c0c0c;
    color: #110f0f;
    font-weight: bold;
  }

  td {
    background-color: #fff;
  }

  thead {
    background-color: #333;
    color: #fff;
  }

  thead th {
    color: #fff;
    font-weight: bold;
  }
